@using System.Reflection

<span class="text-muted small">v@(Version)</span>

@code {
    private string Version
    {
        get
        {
            var version = Assembly.GetExecutingAssembly()
                .GetCustomAttribute<AssemblyInformationalVersionAttribute>()
                ?.InformationalVersion ?? "1.0.0";
            
            // Remove git hash if present (e.g., "1.0.0+abc123" -> "1.0.0")
            var plusIndex = version.IndexOf('+');
            return plusIndex > 0 ? version[..plusIndex] : version;
        }
    }
}
