@using System.Reflection

<div class="flex items-center gap-2 text-xs text-gray-400">
    <div class="w-2 h-2 rounded-full bg-green-500 animate-pulse"></div>
    <span>v@(Version)</span>
</div>

@code {
    private string Version
    {
        get
        {
            var version = Assembly.GetExecutingAssembly()
                .GetCustomAttribute<AssemblyInformationalVersionAttribute>()
                ?.InformationalVersion ?? "1.0.0";
            var plusIndex = version.IndexOf('+');
            return plusIndex > 0 ? version[..plusIndex] : version;
        }
    }
}
