@using System.Globalization
@inject NavigationManager Nav

<div class="dropdown d-inline-block">
    <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        @GetCurrentFlag()
    </button>
    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
        <li><a class="dropdown-item" href="/Culture/Set/it-IT">Italiano</a></li>
        <li><a class="dropdown-item" href="/Culture/Set/en-US">English</a></li>
    </ul>
</div>

@code {
    private string GetCurrentFlag()
    {
        return CultureInfo.CurrentUICulture.Name.StartsWith("it") ? "IT" : "EN";
    }
}
